#
# ESP32-S3 + Heltec HT-HC01P carrier router STA profile.
#
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_MM_BCF_FILE="bcf_mf08551.mbin"
CONFIG_MM_FW_FILE="mm6108.mbin"
CONFIG_MM_RESET_N=1
CONFIG_MM_WAKE=2
CONFIG_MM_BUSY=5
CONFIG_MM_SPI_SCK=7
CONFIG_MM_SPI_MOSI=9
CONFIG_MM_SPI_MISO=8
CONFIG_MM_SPI_CS=4
CONFIG_MM_SPI_IRQ=3

CONFIG_ROUTER_STA_UDP_LOCAL_PORT=5000
CONFIG_ROUTER_STA_UDP_PEER_IP="192.168.50.1"
CONFIG_ROUTER_STA_UDP_PEER_PORT=5000
CONFIG_ROUTER_STA_STATUS_INTERVAL_MS=5000
CONFIG_ROUTER_STA_DEBUG_APP_PROBE_DNET=1001
