CONFIG_ROUTER_STA_W5500_PROBE_ENABLE=y
CONFIG_ROUTER_STA_W5500_BIP_ENABLE=y
CONFIG_ROUTER_STA_NET_BLOCK=5
CONFIG_ROUTER_STA_NODE_ID=2
CONFIG_ROUTER_STA_W5500_BIP_PORT_ID=3
CONFIG_ROUTER_STA_W5500_BIP_NET_AUTO=y
CONFIG_ROUTER_STA_W5500_BIP_NET=50020
CONFIG_ROUTER_STA_W5500_BIP_UDP_PORT=47808
CONFIG_ROUTER_STA_W5500_BIP_BROADCAST_ADDR="192.168.92.255"
CONFIG_ROUTER_STA_W5500_SPI_HOST=2
CONFIG_ROUTER_STA_W5500_SPI_MISO_GPIO=38
CONFIG_ROUTER_STA_W5500_SPI_MOSI_GPIO=45
CONFIG_ROUTER_STA_W5500_SPI_SCLK_GPIO=21
CONFIG_ROUTER_STA_W5500_SPI_CS_GPIO=41
CONFIG_ROUTER_STA_W5500_INT_GPIO=-1
CONFIG_ROUTER_STA_W5500_RST_GPIO=40
CONFIG_ROUTER_STA_W5500_SPI_CLOCK_MHZ=10
CONFIG_ROUTER_STA_W5500_PHY_ADDR=1
CONFIG_ROUTER_STA_W5500_MAC_TASK_STACK_SIZE=4096
CONFIG_ROUTER_STA_W5500_WAIT_IP_TIMEOUT_MS=8000
CONFIG_ROUTER_STA_W5500_STATIC_IP_ENABLE=y
CONFIG_ROUTER_STA_W5500_STATIC_IP_ADDR="192.168.92.253"
CONFIG_ROUTER_STA_W5500_STATIC_NETMASK="255.255.255.0"
CONFIG_ROUTER_STA_W5500_STATIC_GATEWAY="192.168.92.1"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
