#
# ESP32S3-specific
#
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_MM_RESET_N=3
CONFIG_MM_WAKE=8
CONFIG_MM_BUSY=9
CONFIG_MM_SPI_SCK=12
CONFIG_MM_SPI_MOSI=11
CONFIG_MM_SPI_MISO=13
CONFIG_MM_SPI_CS=10
CONFIG_MM_SPI_IRQ=14
