#
# ESP32C6-specific
#

CONFIG_MM_RESET_N=0
CONFIG_MM_WAKE=1
CONFIG_MM_BUSY=22
CONFIG_MM_SPI_SCK=19
CONFIG_MM_SPI_MOSI=18
CONFIG_MM_SPI_MISO=20
CONFIG_MM_SPI_CS=21
CONFIG_MM_SPI_IRQ=2
CONFIG_MM_BCF_FILE="bcf_mf08651_us.mbin"
