#
# ESP32C3-specific
#

CONFIG_MM_RESET_N=2
CONFIG_MM_WAKE=3
CONFIG_MM_BUSY=6
CONFIG_MM_SPI_SCK=8
CONFIG_MM_SPI_MOSI=10
CONFIG_MM_SPI_MISO=9
CONFIG_MM_SPI_CS=5
CONFIG_MM_SPI_IRQ=4
CONFIG_MM_BCF_FILE="bcf_mf08651_us.mbin"
